<!-- Use rails method called provide -->
<!-- Below line indicates Rails will call provide function 
 and associate "Home" with :title -->
<% provide(:title, "Home") %> 
<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>
